<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Descrição</th>
                <th>Dias Corridos</th>
                <th>Tipo</th>
                <th>situacao</th>
                <th>Ações</th>
            </tr>
            {% for typeReceipt in typeReceipts %}
                <tr>
                    <td>{{ typeReceipt.description }}</td>
                    <td>{{ typeReceipt.calendarDays }}</td>
                    <td>{{ typeReceipt.type }}</td>
                    <td>{{ typeReceipt.situ }}</td>
                    <td>
                        <a href="/boxs/edit/{{user._id}}">Editar</a>
                        <form action="/box/delete/{{box._id}}?_method=DELETE" method="post">
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </body>
</html>